* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  text-align: center;
  margin-top: 20px;
}

.main-div h1 {
  padding: 20px;
}

.main-div img {
  padding: 10px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.main-div h3 {
  padding: 10px;
}

.main-div p {
  padding: 10px;
}
