* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.todo-div {
  width: full;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px ;
}
